<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!-- Axios JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>


</head>
<body>
<div class="uk-container" id="app" style="padding-top: 300px;">
    <br>
    <div>
        <div class="uk-card uk-card-default uk-card-small">
            <div class="uk-text-center uk-card-body">
                <h4>
                    Напишите метод суммирующий два числа <code> a</code> и <code> b</code>.<br>
                    Например: <code>def sum(a: int, b: int) -> int: return a + b</code>
                </h4>
            </div>
        </div>
    </div>
    <br>
    <div class="uk-margin">
        <textarea class="uk-textarea" rows="5" placeholder="Введите ваше решение" v-model="text"
                  id="send_text"></textarea>
    </div>
    <p uk-margin>
        <button class="uk-button uk-button-default uk-width-1-1 uk-button-large" v-on:click="fetch" id="send_button">
            Отправить &nbsp
            <div uk-spinner id="spinner" v-model="loading" v-if="loading"></div>
        </button>
    </p>
</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            loading: null,
            text: null,
            loaded: false,
            task_result: null,
        },
        mounted() {
            this.check_task();
        },
        methods: {
            check_task: function () {
                if (localStorage.current_task != 'null') {
                    UIkit.notification({
                        message: '<button class="uk-button uk-button-default uk-button-small" onclick="app.wait_for_result()">Проверить последнее решение!</button>',
                        status: 'primary',
                        pos: 'top-center',
                        timeout: 5000,
                    });
                }
            },
            fetch: async function () {
                this.loading = true;
                await this.send_code();
            },

            send_code: async function () {
                try {
                    await axios
                        .post('http://0.0.0.0:8000/api/code', {'text': this.text})
                        .then(response => (localStorage.current_task = response.data['task_id']));

                    await this.wait_for_result();
                } catch (e) {
                    UIkit.notification({
                        message: e.message,
                        status: 'danger',
                        pos: 'top-center',
                        timeout: 3000
                    });
                }

            },
            wait_for_result: async function () {
                if (localStorage.current_task) {
                    var send_button = document.getElementById("send_button");
                    var send_text = document.getElementById("send_text");
                    send_button.setAttribute("disabled", "");
                    send_text.setAttribute("disabled", "");
                    this.loading = true;

                    await this.timer(1000);
                    response = null;

                    try {
                        await axios
                            .get('http://0.0.0.0:8000/api/code/99'.replace("99", localStorage.current_task))
                            .then(response => this.task_result = response);
                        await this.task_result_processing();

                    } catch (e) {
                        UIkit.notification({
                            message: 'Упс! Какая-то неожиданая ошибка!',
                            status: 'danger',
                            pos: 'top-center',
                            timeout: 1000
                        });
                    }
                }
            },
            task_result_processing: async function () {
                if (this.task_result) {
                    if (this.task_result.data['ready'] === true && this.task_result.data['status'] === 'SUCCESS') {
                        this.loading = false;
                        this.loaded = true;

                        UIkit.notification({
                            message: '' +
                                '<span uk-icon=\'icon: check\' ></span> Успешно!<br><br>' +
                                'ID: 0 <br>'.replace('0', this.task_result.data['result'][0]) +
                                'Результат: 0'.replace('0', this.task_result.data['result'][1]),
                            status: 'primary',
                            pos: 'top-center',
                            timeout: 3000
                        });

                        var send_button = document.getElementById("send_button");
                        var send_text = document.getElementById("send_text");
                        send_button.removeAttribute("disabled");
                        send_text.removeAttribute("disabled");
                    }
                }
            },
            timer: async function (ms) {
                return new Promise(res => setTimeout(res, ms));
            },
        }
    })
</script>
</body>
</html>